body {
    background-image: linear-gradient(#000000, #810000);
}

.card {
    background-color: #aeaeae;
}

.btn {
    background-image: linear-gradient(#9f0b0b, #000000);
}

.card {
     background-image: linear-gradient(#ffffff, #b37b7b);
}