body {
    min-height: 100vh;
    background-image: linear-gradient(#000000, #810000);
    background-attachment: fixed;
}

.card {
    background-color: #aeaeae;
}

.btn {
    background-image: linear-gradient(#9f0b0b, #000000);
}

.card:hover {
     background-image: linear-gradient(#ffffff, #b37b7b);
     transform: translateY(-8px);
     box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}
